@font-face {
  font-family: "segoe ui";
  src:
    url("/assets/font/SegoeUI.woff2") format("woff2"),
    url("/assets/font/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'segoe ui', Arial, serif;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.main-logo {
    width: 50px;
    height: 50px;
    fill: white;
}

.icon {
    width: 24px;
    height: 24px;
}
.white {
     fill: white;
}
.notif:hover,
.search:hover {
    cursor: pointer;
    fill: #9c1c1c;
}

#sidebar {
    background-color: #111011;
    width: clamp(220px, 17vw, 350px);
    position: sticky;
    top: 0;
    align-self: start;
    height: 100vh;
    overflow-y: auto; 
}

.sidebar-header {
    padding: 0 1rem;
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
    align-items: center;
}
.sidebar-header > div > p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
#navigation {
    padding: 2rem 0;
}

.nav {
    margin: 0 1rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 5% 95%;
    gap: 25px;
    border-radius: 10px;
    transition: background-color 0.3s;
    align-items: center;
}
.nav:hover {
    background-color: #c62828;
    cursor: pointer;
}
.nav > p {
    font-size: 1.2em;
    font-weight: bold;
    color: #fbefe5;
    padding: 10px 0.5rem;
}

#header {
    padding: 1.5rem 3rem;
    display: grid;
    gap: 1.5rem;
}

.searchbar, 
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

input {
    padding: 10px;
    border-radius: 16px;
    border: none;
    background-color: #f1ece3;
    color: gray;
    width: clamp(100px, 40vw, 800px);
}
input:focus {
    border-color: rgb(97, 157, 220);
}

.profile,
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.profile > p {
    font-size: clamp(3px, 2vw, 1.3em);
    font-weight: bold;
}

.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.user-picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.user-greetings > p {
    color: rgb(130, 132, 134);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

button {
    background-color: #111011;
    border: none;
    border-radius: 20px;
    padding: 0.8rem 1.5rem;
    font-size: clamp(3px, 2vw, 1em);
    color: #fbefe5;
    font-weight: bold;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #9c1c1c;
    cursor: pointer;
    transform: scale(1.025);
}

.buttons > button:nth-child(3) {
    background-color: #9c1c1c;
}
.buttons > button:nth-child(3):hover {
    background-color: #111011;
}

#main-content {
    background-color: #f1ece3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    padding: 1.5rem;
    height: auto;
}

#your-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 1rem 0;
}
.card {
    background-color: white;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    border-left: 8px solid #9c1c1c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-icon {
    display: flex;
    gap: 25px;
    justify-content: end;
}

.profile-icon > .icon:hover {
    cursor: pointer;
    fill: #9c1c1c;
}

.title {
    font-size: clamp(3px, 2vw, 1.5em);
    font-weight: bold;
}
.project-text p:nth-child(2) {
    font-size: clamp(3px, 2vw, 1em);
    color: rgb(108, 110, 112);
}

#announcements,
#trendings {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    margin: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.headtext {
    margin: 0 1rem;
}

.announcement {
    padding: 0.8rem;
}

.announcement p:nth-child(1) {
    font-weight: bold;
    padding-bottom: 3px;
}
.announcement p:nth-child(2) {
    font-size: 0.8em;
    color: rgb(108, 110, 112);
}

#announcements .announcement:nth-child(2) {
    border-top: 1px solid rgb(108, 110, 112);
    border-bottom: 1px solid rgb(108, 110, 112);
}

.trending {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trendtxt p:nth-child(1) {
    font-size: 0.8em;
    font-weight: 600;
}
.trendtxt p:nth-child(2) {
    font-size: 0.7em;
    color: rgb(108, 110, 112);
}
