* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#sidebar {
    background-color: rgb(82, 137, 197);
    width: clamp(220px, 17vw, 350px);
    position: sticky;
}
#branding {
    padding: 3.5rem 0;
}

.nav {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 5% 95%;
    gap: 25px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.nav:hover {
    background-color: rgb(97, 157, 220);
}
.nav > p {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}

#header {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    padding: 2rem 3rem;
}

.topbar {
    display: flex;
    justify-content: space-between;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 16px;
    border: none;
    background-color: rgb(233, 235, 236);
    color: gray;
    width: clamp(100px, 40vw, 800px);
    height: auto;
}
input:active {
    border-color: rgb(82, 137, 197);
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile > p {
    font-size: clamp(3px, 2vw, 1.3em);
    font-weight: bold;
}

#main-content {
    background-color: rgb(251, 250, 250);
}